<!--
  Generated template for the DetalleAvePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Detalles</ion-title>
  </ion-navbar>

</ion-header>


<ion-content *ngIf="dataLoaded" text-center>
  <img [src]="aveDetails.bird_image" width="40%"/>
  <h2>{{aveDetails.bird_name}}</h2>
  <h6>Número de avistamientos: {{aveDetails.bird_sightings}}</h6>
  <p>
    {{aveDetails.bird_description}}
  </p>

  <ion-list>

    <ion-list-header>
      Avistamientos
    </ion-list-header>

    <ion-item *ngFor="let avistamiento of aveDetails.sightings_list">
      {{avistamiento.place}}
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer *ngIf="dataLoaded">
    <button ion-button full [navPush]="anyadirAvistamiento" [navParams]="{aveId:aveId}">Añadir avistamiento</button>
</ion-footer>
